.unsubscribe {
display: grid;
flex-grow: 1;
margin: 20px;
background-color: hsl(0, 0%, 98%);
padding: 5%;
box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.137);
border-radius: 4px;
text-align: center;
width: 50%;
margin: 0 auto;
margin-top: 4%;
margin-bottom: 4%;
}
